<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>

    <globalization  culture="en-NZ"  uiCulture="en-NZ"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.;Initial Catalog=MCA_Prog;Integrated Security=True;MultipleActiveResultSets=true;"/>
  </connectionStrings>
</configuration>
